$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;     // 1100px
$bp-medium: 56.25em;     // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em;     // 500px

$color-font-lightest: #fff;
$color-font-light: #f1f1f1;

$color-font-darkest: #000;
$color-font-dark: #333;

$color-primary: #0dba86;
$color-primary-light: lighten(#0dba86, 10%);
$color-primary-dark: darken(#0dba86, 10%);

$color-main-background: #f0f0f0;
$color-background-lightest: #fff;
$color-background-lighter: #fafafa;
$color-background-light: #f0f0f0;
$color-background-lightdark: #f1f1f1;
$color-background-light-alt: #efefef;

$color-background-darkest: #000;
$color-background-darker: #333;
$color-background-dark: #555;
$color-background-medium: #777;

$color-grey-medium: #7a7a7a;
$color-grey-light: #dedede;


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,300i,400,400i,500,700,700i,900|Lato:300,400,700,900');

@mixin shadowlight() {
  box-shadow: 0px 1.5px 3px rgba(0,0,0,0.25);
}
@mixin shadow() {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

@mixin boxshadow() {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

@mixin buttonshadow() {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25),
              0 8px 8px -7px rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px : 10px/16px = 62.5%
}

body {
  min-height: 100vh;


  font-weight: 400;
  line-height: 1.6;
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right bottom, #111, #333 );
  background-size: cover;
  background-repeat: no-repeat;
}

svg, svg::before, svg::after {
  // position: absolute;
  width: 32px;
  height: 32px;
}

img, img::before, img::after {
  max-width: 100%;
}
