.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 1;

  // sidebar container
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-view {
  flex: 1;
  // height: 80rem;
}

.detail {
  display: flex;
  padding: 4.5rem;
  font-size: 1.4rem;
  background-color: #eee;
  border-bottom: pink;
}

.description {
    font-size: 1.4rem;
    flex: 0 0 60%;
    padding: 3rem;
    background-color: #fff;
    // box-shadow: var(--shadow-light);
    margin-right: 4.5rem;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
