doctype html
html(lang="en")
    head
        title=head.title
        link(href='css/style.css' rel="stylesheet")
    body
        ul.nav
            each link in nav.links
                li=link       
        div=main.title
        h2 HELLO, I love you 
        

        script(src='js/bundle.js' type="text/javascript")
