.book {
  @include box-shadow(0px, 1.5px, 3px, 0);
  flex: 1;
  max-width: 1000px;
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: $color-background-lighter;
  justify-content: flex-start;
  align-items: center;

  @include breakpoint(tablet) {
    padding: 4.5rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 4.5rem;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color-grey-medium;
    margin: 4rem 0 -1rem 1.5rem;
    align-self: flex-start;
    font-weight: 700;

    @include breakpoint(mobile) {
      margin: 2rem 0 -1rem 1.5rem;
    }
  }
// rate
  &__rate {
    @include box-shadow(0px, 1.5px, 3px, 0);
    font-size: 3rem;
    display: flex;
    padding: 10px;
    background-color: $color-primary-darkest;
    background-image: linear-gradient(90deg,
                      $color-primary, $color-primary-dark, $color-primary-darkest 75%);
    width: 100%;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 700;
      letter-spacing: 2px;
      span {
        font-weight: 400;
        font-size: 1rem;
      }
    }//p
  }//rate

// date-boxes
  &__date-box {
    width: 100%;
    display: flex;
    align-items: center;

   &--date {
    width: 100%;
    display: flex;
    margin: 20px;
    @include breakpoint(mobile) {
      flex-flow: row wrap;
    }

      &-pick {
        width: 100%;
        height: 40px;
        display: flex;
        background-color: $color-background-lightest;
        justify-content: center;
        align-items: center;
        @include box-shadow(0px, 1px, 1px, 0, 0,0,0,0.5);

        label {
          font-size: 14px;
          border-radius: 0;
          align-self: center;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0 .5rem;
        }

        input {
          flex: 1;
          &[type="date"]#from {
            @include date-input();
          }
          &[type="date"]#to {
            @include date-input();
          }
        }
      }// -pick
    } // --date
  } // date box

  // info-boxes
  &__info-box {
    margin: 1rem 2rem;
    width: 100%;
    height: 25%;
    display: flex;

    &--form {
      width: 100%;
      margin: 0 20px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
    }

    &--label {
      min-width: 100%;
      flex: 1;
      align-self: center;
      justify-self: stretch;
      margin: 6px 6px 6px 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
    }
    &--select {
        &#book-adult,
        &#book-child {
          display: block;
          height: 3.75rem;
          width: 100%;
          color: $color-font-darkest;
          font-size: 1.25rem;
          font-weight: 400;
          outline: none;
          padding-left: 1rem;
          background-color: $color-background-lightest;
          margin-top: 1rem;
          border-radius: .3rem;
          text-transform: capitalize;
        }
    }
    &--btn {
      @include button
    }

  } // info-box
} // book

.book__info-box--select {
  select#book-adult, select#book-child {
    outline: none;
    appearance: none;
    height: 3.5rem;
    width: 100%;
    padding: 3rem;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    option {
      background-color: $color-font-lightest;
      appearance: none;
      margin-left: 1rem;
    }
  }
}
