.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

.list {
    margin: 2.5rem 0;
    // padding: 1rem 0;
    list-style: none;

    // list items
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .25rem;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        // list items
        display: flex;
        align-items: center;

        @media(max-width: $bp-smallest){
          flex: 0 0 100%;
        }

    }

    &__icon {
      order: -1;
      margin: .5rem 1rem;
      height: 2rem;
    }
}

.space {
.list {
    &__item {
      letter-spacing: 2px;
      font-size: 1.5rem;
      font-weight: 600;
        // list items
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        @media(max-width: $bp-medium){

        }

    }
    &__detail {
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    &__icon {
      // display: none;
      order: -1;
      margin: .5rem 1rem;
      height: 1.25rem;
      fill: #00dd00;
    }
  }
}
