.hero {
  position: relative;
  background-image: url("../img/houses-sf.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &::before {
      content:'';
      filter: hue-rotate(250deg) saturate(5%);
      background: none;
      background: linear-gradient($color-background-darkest, #7ff 33%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: 100vh;
      opacity: .35;
    }

  &__cta {
    margin-top: 50px;
    position: absolute;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-font-light;

    &--title {
      letter-spacing: 2px;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      margin: -1.33rem 0;
      font-size: 4.5rem;
      font-weight: 700;
    }

    &--subtitle {
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      letter-spacing: 3px;
      font-size: 2.5rem;
    }
  }

  &__brand-logo {
    width: auto;
    height: 75px;
  }
}

svg.hero__brand-logo--svg {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  fill: $color-font-darkest;
  stroke: $color-font-lightest;
  overflow: visible;

  circle {
    stroke-opacity:0;
  }
}
