.hero {
  position: relative;
  background-image: url("../img/SFNight.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
      content:'';
      background: #003153; /* fallback for old browsers */
      background: linear-gradient(#000, #003153, #f7b733 80%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: 100vh;
      opacity: .35;
    }

  &__cta {
    margin-top: -25px;
    position: absolute;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    &--title {
      font-size: 4.5rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
      font-family: 'Roboto', sans-serif;
      margin-bottom: -10px;
      color: #fff;
    }

    &--subtitle {
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
      font-family: 'Lato', sans-serif;
      letter-spacing: 2px;
      font-size: 2rem;
    }

  }

  &__brand-logo {
    // margin: 25px;
    width: auto;
    height: 35vh;
    }

}

svg.hero__brand-logo--svg {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  fill:white;
  stroke: black;
  overflow: visible;
  fill-opacity: .75;
  
  circle {
    stroke-opacity:0;
  }
}
