.top-nav {
  display: flex;
  font-size: 1.4rem;
  letter-spacing: 2px;
  list-style: none;

  &__item {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 60px;
    position: relative;
    text-transform: uppercase;
  }

  &__item:not(:nth-child(3n)) {
      a {
      border-right: 1px solid $color-background-lightdark;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: $color-font-lightest;
    background-color: $color-primary-dark;
    flex: 1;
    height: inherit;

      &:hover, &:focus, &:active {
        transition:0.25s all ease-in-out;
        background-color: transparent;
        outline: 0;
        border: 0;
      }

     &::before {
       background-color: #3b5998;
       border: 0;
       position: absolute;
       top: 0;
       left: 50%;
       right: 50%;
       bottom: 0;
       opacity: 0;
       content:'';
       z-index: -2;

     }
     &:hover, &:focus {
     &::before {
       transition:0.5s all ease-in-out;
       left:0;
       right:0;
       opacity:1;
        &:not(:nth-child(3)) {
          border-right: 1px solid $color-background-lightdark;
        }
     }
  }
}


  &__icon {
    width: 1.33rem;
    height: 1.33rem;
    margin-right: .75rem;
    fill:  $color-primary-analogous;
    position: relative;
  }
}
