.newsletter-wrap {
  // position: relative;
  // height: 100vh;
  // width: auto;


.newsletter {


  .btn-wrap {
     display: flex;

     #button {
        text-align: center;
        // width: 45vw;
        min-width: 150px;
        padding: 20px 33px;
        border-radius: 100px;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 25px;
        background-color: #008080;
        box-shadow: 0px 12px 24px rgba(0,0,0,0.25);
        color: #EFEFEF;

         &:hover {
           transition: box-shadow .5s ease-in-out;
           box-shadow: 0px 6px 12px rgba(0,0,0,0.33);
           background-color: lighten(#008080, 10%);
           font-weight: 500;
           color: #333;
         }
       }
    }

  #target-content {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
      &:target {
        pointer-events: all;
        opacity: 1;
      }

    #target-inner {
      position: absolute;
      padding: 25px;
      line-height: 1;
      width: 37vw;
      min-height: 200px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      box-shadow: 0px 6px 12px rgba(0,0,0,0.75);
      background-color: #faf9f7;
      color: black;
      z-index: 100;

      @media(max-width: 600px) {
        width: 85vw;
      }

        form {
         width: 100%;
         height: 100%;
         display: flex;
         border-radius: 10px;
         align-items: center;
         text-align: center;

          p {
            span:first-of-type {
              text-transform: uppercase;
              display: inline-block;
              letter-spacing: 2px;
              margin-bottom: 20px;
            }

            input, button {
              margin-top: 10px;
              font-size: 16px;
              width: 100%;
              height: 40px;
              diplay: inline;
            }
            input {
              outline: none;
              margin: auto;
              width: 100%;
            }

            input:invalid {
              outline: none;
              border-bottom: 5px solid orangered;
              background-color: #FFF;
            }
            input:focus:valid {
              outline: none;
            }
            input:focus:valid,
            input:active:valid  {
              outline: none;
              border-bottom: 5px solid #00f6f6;
              background-color: #FFF;
            }

            input:focus:invalid {
              outline: none;
            }
            input:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 30px #FFF inset;
            }
          }
        }
      }
    }

  .close {
      content: '';
      // width: 100%;
      // height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      position: absolute;
      // transform: translate(-50%, -50%);
      background-color: darken(#004225, 50%);
      transition: opacity 500ms ease-in-out;

    &:hover {
      opacity: 0.45;
    }
  }
}

// Style error messages
label {
  input[type="email"]{
    border: 1px solid lighten(#008080, 8%);
    width: 100%;
    margin: 0;
    background-color: #DFD;
  }

  button {
    color: #efefef;
    background-color: #00a9a9;
    outline: none;
    border: none;
    padding: 0 20px;
    margin: 0;
  }
}

 .error {
   margin: auto;
   margin-top: 5px;
   width: 100%;
   padding: 0;
   font-weight: 700;
   font-size: 16px;
   color: red;
   background-color: #fff;
}

.error.active {
  transition: all .2s ease-in-out;
  display: block;
  padding: 0.3em;
}


// Style Pop-Up
.popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    visibility: hidden;
    width: 200px;
    background-color: darken(#00a9a9, 50%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
   display: block;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
}
