.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25rem 1rem;
  // border-bottom:

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

  }

  &__stars {
    padding: 0 1rem;
    margin-left: auto;
    margin-bottom: 1rem;
    display: flex;
  }

  &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
    }

    &__location {
        font-size: 1.25rem;
        display: flex;
        vertical-align: center;

    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -5px;
      }

      &__rating-count {
       font-size: .85rem;
       text-transform: uppercase;
     }
}

//Button Inline
.btn-inline {
    border: none;
    color: blue;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    transition: all .25s ease-in-out;


    // bottom show all span
    & span {
        margin: .33rem;
    }

    &:hover {
        color: red;

        // bottom show all span
        & span {
            margin-left: .85rem;
            transition: margin-left .33s ease-in-out;
        }
    }
    &:focus {
        outline: none;
        animation: pulsate 1s;
    }
}
