.review {
    position: relative;
    background-color: $color-background-lightest;
    @include shadow();
    padding: 3.5rem;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &__title {
      align-self: flex-end;
      text-transform: uppercase;
      margin: -2rem 0 2rem 0;
    }

    &__text {
        margin-bottom: .5rem;
        position: relative;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: italic;
    }

    &__user {
        display: flex;
        align-items: center;
          &:not(:last-child) {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba(0,0,0,0.125);
          }
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: .25rem;
    }

    &__user-date {
        font-size: 1.1rem;
        color: $color-background-darker;
    }

    &__user-btn {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    &__user-like {
        width: 2rem;
        fill: $color-grey-light;
    }

    &__rating {
        color: $color-font-darkest;
        font-size: 2.25rem;
        font-weight: 300;
    }

    &::before {
        content: "\201C";
        position: absolute;
        font-size: 15rem;
        font-family: sans-serif;
        line-height: 1;
        color: rgba(0,0,0,0.1);
        top: -.5rem;
        left: 1rem;
    }
}

.liked {
  fill: $color-primary-light;
}
